In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
credits_df = pd.read_csv('credits.csv')
movies_df = pd.read_csv('movies.csv')

In [3]:
credits_df

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [4]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [5]:
credits_df.shape

(4803, 4)

In [6]:
movies_df.shape

(4803, 20)

In [7]:
movies = movies_df.merge(credits_df, on = 'title')
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07-03-2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
movies.shape

(4808, 23)

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4808 non-null   int64
 1   genres                4808 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4808 non-null   int64
 4   keywords              4808 non-null   object
 5   original_language     4808 non-null   object
 6   original_title        4808 non-null   object
 7   overview              4805 non-null   object
 8   popularity            4808 non-null   float64
 9   production_companies  4808 non-null   object
 10  production_countries  4808 non-null   object
 11  release_date          4807 non-null   object
 12  revenue               4808 non-null   int64
 13  runtime               4806 non-null   float64
 14  spoken_languages      4808 non-null   object
 15  status                4808 non-null   object
 16  tagline               3964 non-null   object
 17  title                 4808 non-null   object
 18  vote_average          4808 non-null   float64
 19  vote_count            4808 non-null   int64
 20  movie_id              4808 non-null   int64
 21  cast                  4808 non-null   object
 22  crew                  4808 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.5+ KB

In [10]:
movies = movies[['movie_id','budget','genres','keywords','popularity','revenue','runtime','title','vote_average','overview','cast','crew']]

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      4808 non-null   int64
 1   budget        4808 non-null   int64
 2   genres        4808 non-null   object
 3   keywords      4808 non-null   object
 4   popularity    4808 non-null   float64
 5   revenue       4808 non-null   int64
 6   runtime       4806 non-null   float64
 7   title         4808 non-null   object
 8   vote_average  4808 non-null   float64
 9   overview      4805 non-null   object
 10  cast          4808 non-null   object
 11  crew          4808 non-null   object
dtypes: float64(3), int64(3), object(6)
memory usage: 488.3+ KB

In [12]:
movies.isnull().sum()

movie_id        0
budget          0
genres          0
keywords        0
popularity      0
revenue         0
runtime         2
title           0
vote_average    0
overview        3
cast            0
crew            0
dtype: int64

In [13]:
movies.dropna(inplace = True)

In [14]:
movies.duplicated().sum()

0

In [15]:
movies.head()

,movie_id,budget,genres,keywords,popularity,revenue,runtime,title,vote_average,overview,cast,crew
0,19995,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",150.437577,2787965087,162.0,Avatar,7.2,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",139.082615,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",107.376788,880674609,148.0,Spectre,6.3,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",112.312950,1084939099,165.0,The Dark Knight Rises,7.6,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",43.926995,284139100,132.0,John Carter,6.1,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
movies.genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [17]:
import ast

In [18]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [19]:
movies.genres = movies.genres.apply(convert)
movies.keywords = movies.keywords.apply(convert)
movies.head()

,movie_id,budget,genres,keywords,popularity,revenue,runtime,title,vote_average,overview,cast,crew
0,19995,237000000,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",150.437577,2787965087,162.0,Avatar,7.2,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,300000000,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",139.082615,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,245000000,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",107.376788,880674609,148.0,Spectre,6.3,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,250000000,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",112.312950,1084939099,165.0,The Dark Knight Rises,7.6,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,260000000,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",43.926995,284139100,132.0,John Carter,6.1,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
def convert1(obj):
    L = []
    count = 0
    for i in ast.literal_eval(obj):
        if count != 3:
            L.append(i['name'])
            count += 1
        else:
            break
        return L

In [21]:
movies.cast = movies.cast.apply(convert1)
movies.head()

,movie_id,budget,genres,keywords,popularity,revenue,runtime,title,vote_average,overview,cast,crew
0,19995,237000000,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",150.437577,2787965087,162.0,Avatar,7.2,"In the 22nd century, a paraplegic Marine is di...",[Sam Worthington],"[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,300000000,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",139.082615,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,"Captain Barbossa, long believed to be dead, ha...",[Johnny Depp],"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,245000000,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",107.376788,880674609,148.0,Spectre,6.3,A cryptic message from Bond’s past sends him o...,[Daniel Craig],"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,250000000,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",112.312950,1084939099,165.0,The Dark Knight Rises,7.6,Following the death of District Attorney Harve...,[Christian Bale],"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,260000000,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",43.926995,284139100,132.0,John Carter,6.1,"John Carter is a war-weary, former military ca...",[Taylor Kitsch],"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [22]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [23]:
movies.crew = movies.crew.apply(fetch_director)
movies.crew[0]

['James Cameron']

In [24]:
movies.overview = movies.overview.apply(lambda x: x.split())
movies.head()

,movie_id,budget,genres,keywords,popularity,revenue,runtime,title,vote_average,overview,cast,crew
0,19995,237000000,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",150.437577,2787965087,162.0,Avatar,7.2,"[In, the, 22nd, century,, a, paraplegic, Marin...",[Sam Worthington],[James Cameron]
1,285,300000000,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",139.082615,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,"[Captain, Barbossa,, long, believed, to, be, d...",[Johnny Depp],[Gore Verbinski]
2,206647,245000000,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",107.376788,880674609,148.0,Spectre,6.3,"[A, cryptic, message, from, Bond’s, past, send...",[Daniel Craig],[Sam Mendes]
3,49026,250000000,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",112.312950,1084939099,165.0,The Dark Knight Rises,7.6,"[Following, the, death, of, District, Attorney...",[Christian Bale],[Christopher Nolan]
4,49529,260000000,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",43.926995,284139100,132.0,John Carter,6.1,"[John, Carter, is, a, war-weary,, former, mili...",[Taylor Kitsch],[Andrew Stanton]

In [25]:
movies.dropna(inplace = True)

In [26]:
movies.genres = movies.genres.apply(lambda x: [i.replace(" ","") for i in x])
movies.keywords = movies.keywords.apply(lambda x: [i.replace(" ","") for i in x])
movies.cast = movies.cast.apply(lambda x: [i.replace(" ","") for i in x])
movies.crew = movies.crew.apply(lambda x: [i.replace(" ","") for i in x])
movies.head()

,movie_id,budget,genres,keywords,popularity,revenue,runtime,title,vote_average,overview,cast,crew
0,19995,237000000,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",150.437577,2787965087,162.0,Avatar,7.2,"[In, the, 22nd, century,, a, paraplegic, Marin...",[SamWorthington],[JamesCameron]
1,285,300000000,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...",139.082615,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,"[Captain, Barbossa,, long, believed, to, be, d...",[JohnnyDepp],[GoreVerbinski]
2,206647,245000000,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...",107.376788,880674609,148.0,Spectre,6.3,"[A, cryptic, message, from, Bond’s, past, send...",[DanielCraig],[SamMendes]
3,49026,250000000,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...",112.312950,1084939099,165.0,The Dark Knight Rises,7.6,"[Following, the, death, of, District, Attorney...",[ChristianBale],[ChristopherNolan]
4,49529,260000000,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...",43.926995,284139100,132.0,John Carter,6.1,"[John, Carter, is, a, war-weary,, former, mili...",[TaylorKitsch],[AndrewStanton]

In [27]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
movies['tags'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'JamesCameron']

In [28]:
print(movies.columns)

Index(['movie_id', 'budget', 'genres', 'keywords', 'popularity', 'revenue',
       'runtime', 'title', 'vote_average', 'overview', 'cast', 'crew', 'tags'],
      dtype='object')

In [29]:
movies.tags = movies.tags.apply(lambda x:' '.join(x))
movies.tags[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington JamesCameron'

In [30]:
movies1 = movies[['movie_id','title','tags']]
movies1.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [31]:
movies1.tags = movies1.tags.apply(lambda x:x.lower())
movies1.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_24736\685301126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies1.tags = movies1.tags.apply(lambda x:x.lower())

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

Feature Extraction using CountVectoriser

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [33]:
cv.fit_transform(movies1.tags).toarray().shape

(4763, 5000)

In [34]:
vectors = cv.fit_transform(movies1.tags).toarray()
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [35]:
len(cv.get_feature_names())

C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

5000

In [36]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [37]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [38]:
movies1.tags = movies1.tags.apply(stem)

C:\Users\HP\AppData\Local\Temp\ipykernel_24736\441393704.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies1.tags = movies1.tags.apply(stem)

In [39]:
from sklearn.metrics.pairwise import cosine_similarity

In [40]:
cosine_similarity(vectors).shape

(4763, 4763)

In [41]:
similarity = cosine_similarity(vectors)
similarity[0]

array([1.        , 0.09128709, 0.05986843, ..., 0.02431083, 0.02635231,
       0.        ])

In [42]:
sorted(list(enumerate(similarity[0])), reverse = True, key=lambda x:x[1])[1:6]

[(539, 0.2651650429449553),
 (1194, 0.2545875386086578),
 (507, 0.24948506639458295),
 (1216, 0.24459979523511427),
 (260, 0.2434322477800738)]

In [43]:
def recommend(movie):
    movie_index = movies1[movies1['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse = True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(movies1.iloc[i[0]].title)

In [44]:
recommend('Avatar')

Titan A.E.
Small Soldiers
Independence Day
Aliens vs Predator: Requiem
Ender's Game